{%extends 'base.html'%}

{%block title%}
my homepage
{%endblock%}

{%block body%}
{% if messages %}
<div class="position-fixed top-0 start-50 translate-middle-x mt-3"
     style="z-index: 9999; width: 500px; max-width: 90%;">

    {% for message in messages %}
        <div class="alert
            {% if message.tags == 'success' %}
                bg-success-subtle text-success border border-success-subtle
            {% elif message.tags == 'error' or message.tags == 'danger' %}
                bg-danger-subtle text-danger border border-danger-subtle
            {% elif message.tags == 'warning' %}
                bg-warning-subtle text-warning border border-warning-subtle
            {% else %}
                bg-info-subtle text-info border border-info-subtle
            {% endif %}
            alert-dismissible fade show shadow"
            role="alert">

            <strong>
                {% if message.tags == 'success' %}
                    ✓ Success!
                {% elif message.tags == 'error' or message.tags == 'danger' %}
                    ✕ Error! : 
                {% elif message.tags == 'warning' %}
                    ⚠ Warning!
                {% else %}
                    ℹ Info
                {% endif %}
            </strong>

            {{ message }}

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endfor %}

</div>
{% endif %}
 <div id="adCarousel" class="carousel slide mb-4 " data-bs-ride="carousel"> 
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#adCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#adCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#adCarousel" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/media/photos/ad3.jpg"
                 class="d-block w-5"
                 alt="Ad 1"
                 style="height:400px; object-fit:cover;">
        </div>

        <div class="carousel-item">
            <img src="/media/photos/ad2.jpg"
                 class="d-block w-100"
                 alt="Ad 2"
                 style="height:400px; object-fit:cover;">
        </div>

 
        <div class="carousel-item">
            <img src="/media/photos/ad1.jpg"
                 class="d-block w-100"
                 alt="Ad 3"
                 style="height:400px; object-fit:cover;">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#adCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#adCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div> 


<br>

<div class="container mt-4">
    <div class="row g-3">
        
{%for i in page_obj%}
        <div class="col-6 col-md-4 col-lg-3">
    <a href="{%url 'details' i.id %}" class="text-decoration-none text-dark"232131>

            <div class="card h-100 shadow-sm">

                <img src="{{i.image.url}}"
                     class="card-img-top"
                     alt="Product"
                     style="height:180px; object-fit:cover;"
                     >

                <div class="card-body">

                    <h6 class="card-title">
                        name:{{i.name}}
                    </h6>

                    <h5 class="text-danger">
                        price:{{i.price}}
                    </h5>
                </div>

            </div>
            </a>
        </div>
        {%endfor%}
           
             </div>
            
             </div>
             <a href="{%url 'add_products'%}">
             <button class="btn btn-primary position-fixed"
        style="bottom:120px; right:20px; z-index:1050;">
    add product
</button>
</a>

<div class="d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination shadow-sm">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if request.GET.query %}
                    <a class="page-link rounded-start"
                       href="?query={{ request.GET.query }}&page={{ page_obj.previous_page_number }}">
                        <i class="bi bi-chevron-left"></i> Previous
                    </a>
                    {% else %}
                    <a class="page-link rounded-start"
                       href="?page={{ page_obj.previous_page_number }}">
                        <i class="bi bi-chevron-left"></i> Previous
                    </a>
                    {% endif %}
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link rounded-start">
                        <i class="bi bi-chevron-left"></i> Previous
                    </span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                    <li class="page-item">
                        {% if request.GET.query %}
                        <a class="page-link" href="?query={{ request.GET.query }}&page={{ num }}">{{ num }}</a>
                        {% else %}
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if request.GET.query %}
                    <a class="page-link rounded-end"
                       href="?query={{ request.GET.query }}&page={{ page_obj.next_page_number }}">
                        Next <i class="bi bi-chevron-right"></i>
                    </a>
                    {% else %}
                    <a class="page-link rounded-end"
                       href="?page={{ page_obj.next_page_number }}">
                        Next <i class="bi bi-chevron-right"></i>
                    </a>
                    {% endif %}
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link rounded-end">
                        Next <i class="bi bi-chevron-right"></i>
                    </span>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>
             
{%endblock%}