<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Webpage</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        
    <label for="idforpws1">pws:::</label>
    <input type="password" name="password1" id="idforpws1" placeholder="enter your password"/>
    <span>{{form.password1.errors}}</span>

    <label for="idforpws2">confirm pws:::</label>
    <input type="password" name="password2" id="idforpws2" placeholder="enter your password"/>
    <span>{{form.password2.errors}}</span>

    <button type="submit">reset pws</button>
    </form>
   
</body>
</html>
